@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #145011
    --font-poppins: 'Poppins', serif;

    --color-primary: #1F691A;
    --color-fitclub-grey: #EBEBEB;
    --color-fitclub-dark-grey: #D9D9D9;
    --color-fitclub-red: #E63838;
    --color-fitclub-green: #62BE8B;
    --color-fitclub-yellow: #FFC300;
}
